/*
* @Author: Kally Shao
* @Date:   2018-03-16 10:21:47
* @Last Modified by:   Administrator
* @Last Modified time: 2018-03-21 17:19:03
*/

.logo{
	align-items: center;
	display: flex;
}
.logo img{
	width: 48px;
	height: 48px;
}
.logo span{
	font-size: 24px;
	padding-left: 8px;
}
.footer{
	text-align: center;
}
.register{
	float: right !important;
}
.register button{
	margin-left: 5px;
}